body {
    font-family: 'Work Sans', sans-serif;
}
#navigation {
    display: flex;
    justify-content: space-between;
}
#file_display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#file_paging {
    margin-left: auto;
    display: flex;
}
#save_files {
    padding: 0.4em 0.6em;
    border-radius: 3px;
    background-color: #43aa8b;
    color: #eee;
    display: inline-block;
    cursor: pointer;
    margin: 1em;
}
#save_files_json {
    padding: 0.4em 0.6em;
    border-radius: 3px;
    background-color: #43aa8b;
    color: #eee;
    display: inline-block;
    cursor: pointer;
    margin: 1em;
}
#remove_all_files {
    padding: 0.4em 0.6em;
    border-radius: 3px;
    background-color: #f94144;
    color: #eee;
    display: inline-block;
    cursor: pointer;
    margin: 1em;
}
#upload_all_files {
    padding: 0.4em 0.6em;
    border-radius: 3px;
    background-color: #277da1;
    color: #eee;
    display: inline-block;
    cursor: pointer;
    margin: 1em;
}
#loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.spinner {
    position: absolute;
    left: 45%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}
#toaster {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 3;
}
.toast {
    visibility: hidden;
    min-width: 200px;
    text-align: center;
    padding: 0.2em 0.4em;
    z-index: 10;
    margin: 0.4em;
}
.toast.show {
    visibility: visible;
}
.danger {
    background-color: #f94144;
}
.success {
    background-color: #90be6d
}
.warning {
    background-color: #f8961e;
}
.info {
    background-color: #277da1;
}
.img-expanded {
    max-width: 600px;
    max-height: 600px;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}