.ff-input {
    display: none;
}

.ff-input-container {
    margin: 0.6em;
    display: flex;
}

.ff-img {
    display: block;
    margin:auto;
    border: 1px solid #eee;
    max-width: 300px;
    max-height: 300px;
}

.ff-file-preview-container.ff-img-preview-container {
    display: block;
    text-align: center;
}

.ff-control-button {
    border-radius: 5px;
    margin: 0.3em;
    background-color: #999;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 0.4em;
    cursor: pointer;
}

.ff-open-cropper-button {
    background-color: rgb(41, 67, 139);
}

.ff-download-file-button {
    background-color: #277da1;
}

.ff-copy-file-button {
    background-color: #43aa8b;
}

.ff-create-directory-button {
    background-color: #43aa8b;
}

.ff-remove-file-button,.ff-remove-directory-button {
    background-color: #f94144;
}

.ff-change-directory-button {
    background-color: #277da1;
}

.ff-open-cropper-button {
    background-color: #f3722c;
}

div#ff-open-cropper-button-23j73b {}

.ff-preview-container {
    display: flex;
}

.ff-file-display {
    display: inline-block;
    padding: 0.6em;
    font-size: 12px;
    max-width: 300px;
}

.ff-filename-preview-container {
    display: flex;
}

.ff-filename-preview, .ff-directory-name-preview {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0.2em 0.6em 0 0.6em;
    font-size: 14px;
    max-width: 300px;
    overflow-wrap: anywhere;
    margin: 0.2em 0.2em 0 0.2em;
}

.ff-input-button {
	background: none;
    background-color: rgb(52, 108, 160);
	color: #eee;
	border: none;
	padding: 0.2em 0.4em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.ff-cropper-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ff-crop-tool {
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #4d908e;
}

.ff-tool-group {
    display:flex;
    flex-direction: row;
    margin: 0.2em;
}

.ff-tool-group > .ff-crop-tool {
    margin: 0.06em;
}

.ff-tool-group > .ff-crop-tool:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ff-tool-group > .ff-crop-tool:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ff-toolbar-icon {
    margin: 0.2em;
    font-size: 10px;
    padding: 5px;
    text-align: center;
}
.ff-toolbar-icon-save {
    background-color: #43aa8b;
}

.ff-toolbar-icon-close {
    background-color: #f94144;
}

.ff-file-container {
    margin: 0.2em 0.6em;
    display: flex;
    height:fit-content;
    background-color: #eee;
    width: 300px;
    border-radius: 5px;
}

.ff-directory-container {
    margin: 0.2em 0.6em;
    display: flex;
    height:fit-content;
    width: 300px;
    background-color: #eee;
    border-radius: 5px;
}

.ff-img-container, .ff-audio-container, .ff-video-container {
    flex-direction: column;
}

.ff-file-preview-container, .ff-directory-preview-container {
    background-color: #eee;
    display: flex;
    flex-grow: 1;
    justify-content: left;
    border-radius: 5px;
}

.cropper-container {
    margin: auto;
}

.ff-file-control-container, .ff-directory-control-container {
    background-color: #eee;
    display: flex;
    padding: 0.2em;
    border-radius: 5px;
}

.ff-icon {
    color: #fff;
    cursor: pointer;
}

.ff-icon.ff-icon-dark {
    color: #333;
}

.ff-icon-wrapper {
    text-align: center;
    display: flex;
    padding: 0.2em;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    justify-content: center; 
}

.ff-icon-text {
    text-transform: uppercase;
    margin-top: 0.2em;
    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
}

.ff-preview-files-container {
    position: relative;
}

.ff-page-input {
    margin: 0 0.1em;
    width: 35px;
}

.ff-paging-container {
    display: flex;
    margin: 1em;
    width: fit-content;
    height: fit-content;
}

.ff-paging-button {
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid white;
    border-collapse: collapse;
    border: none;
    border-right: 1px solid #fff;
}

.ff-paging-left {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-right: 1px solid #ccc;
    margin: 0;
}

.ff-paging-right {
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ccc;
    margin: 0;
}

.ff-current-page {
    padding: 0.6em 0.8em;
    background-color: #eee;
    text-align: center;
}

.ff-current-page:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ff-current-page:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ff-audio {
    display:flex;
    width: 100%;
}

.ff-video {
    width: 100%;
    display: flex;
    max-width: 600px;
    max-height: 450px;
}

.ff-dropify {
    border: 2px dashed #aaa;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin:1em;
    padding: 0.4em;
    height: 150px;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f4f4f4;
}

@keyframes movePattern {
    0% {
        background-position: 0 0; /* start from top left */
    }
    100% {
        background-position: 20px 20px; /* end at bottom right */
    }
}
  
.ff-dropify:hover {
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    background-color: white;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #eee), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #eee), color-stop(.75, #eee), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
    background-position: 0 0;
    animation: movePattern 1s linear infinite;
}
  
.ff-dropify-active {
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    background-color: rgb(201, 215, 228);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #eff5ff), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #eff5ff), color-stop(.75, #eff5ff), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, #eff5ff 25%, transparent 25%, transparent 50%, #eff5ff 50%, #eff5ff 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #eff5ff 25%, transparent 25%, transparent 50%, #eff5ff 50%, #eff5ff 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, #eff5ff 25%, transparent 25%, transparent 50%, #eff5ff 50%, #eff5ff 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #eff5ff 25%, transparent 25%, transparent 50%, #eff5ff 50%, #eff5ff 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #eff5ff 25%, transparent 25%, transparent 50%, #eff5ff 50%, #eff5ff 75%, transparent 75%, transparent);
    background-position: 0 0;
    animation: movePattern 1s linear infinite;
}

.ff-dropify-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

.ff-directories-container {
    border-radius: 5px;
    background-color: #eee;
    padding: 0.6em;
    margin: 1em;
    width: fit-content;
}

.ff-directory-navigator-container {
    display: flex;
    align-items: center;
    width: fit-content;
}

.ff-directory-delimiter {
    margin: 0 0.8em;
    cursor: auto;
}

.ff-current-directory {
    font-weight: 500;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    background-color: #fff;
}
.ff-directory-children-container {
    display: inline-flex;
    align-items: center;
}
.ff-directory-parents-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ff-parent-directory {
    border-radius: 3px;
    padding: 0.2em 0.4em;
    background-color: #277da1;
    color: #eee;
    cursor: pointer;
    margin: 0.2em;
}
.ff-create-directory-container {
    display: inline-flex;
    padding: 0.4em 0 0 0;
    align-items: center;
}
.ff-create-directory-name-input {
    border-radius: 5px;
    padding: 0.4em;
}
.ff-directory-select {
    border-radius: 5px;
    padding: 0.45em;
    height: min-content;
}